/*@font-face {
    font-family: "playfair_displayblack";
    font-weight: normal;
    font-style: normal;
    src: url("playfairdisplay-black-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "playfair_displaybold";
    font-weight: normal;
    font-style: normal;
    src: url("playfairdisplay-bold-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "playfair_displayregular";
    font-weight: normal;
    font-style: normal;
    src: url("playfairdisplay-regular-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "robotoblack";
    font-weight: normal;
    font-style: normal;
    src: url("roboto-black.woff2") format("woff2");
}

@font-face {
    font-family: "robotolight";
    font-weight: normal;
    font-style: normal;
    src: url("roboto-light.woff2") format("woff2");
}

@font-face {
    font-family: "hammersmith_oneregular";
    font-weight: normal;
    font-style: normal;
    src: url("hammersmithone-webfont.woff2") format("woff2");
}

@font-face {
    font-family: 'code';
    src: url('code_light-webfont.eot');
    src: url('code_light-webfont.eot?#iefix') format('embedded-opentype'), url('code_light-webfont.woff2') format('woff2'), url('code_light-webfont.woff') format('woff'), url('code_light-webfont.ttf') format('truetype'), url('code_light-webfont.svg#code_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximaNova';
    src: url('proximanova-webfont.eot');
    src: url('proximanova-webfont.eot?#iefix') format('embedded-opentype'), url('proximanova-webfont.woff2') format('woff2'), url('proximanova-webfont.woff') format('woff'), url('proximanova-webfont.ttf') format('truetype'), url('proximanova-webfont.svg#proxima_novaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*/